<div class="edit-container">
    <h2>Modifier mon profil</h2>
  
    @if (successMessage) {
      <div class="success-message">{{ successMessage }}</div>
    }
  
    @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
    }
  
    <!-- FORMULAIRE DOCTOR EDIT-PROFILE -->
    <form class="edit-form" (submit)="saveChanges($event)">
  
      <!-- EMAIL -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" />
      </div>
  
      <!-- PHONE -->
      <div class="form-group">
        <label>N° de téléphone</label>
        <input type="text" [(ngModel)]="phone_number" name="phone_number" />
      </div>
  
    
  
      <button type="submit" class="save-btn">Enregistrer</button>
    </form>
  
    <!-- BOUTONS  -->
    <div class="buttons-bottom">
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    </div>
  </div>
  