<header class="navbar-header p-4">
	<div class="container flex justify-between h-16 mx-auto">
	  
	  <!-- LOGO / HOME -->
	  <div class="flex">
		<a rel="noopener noreferrer" href="#" (click)="goHome()" class="flex items-center p-2">
		  <h1 class="navbar-title">HealthCloud</h1>
		</a>
	  </div>
  
	  <!-- BOUTONS -->
	  <div class="flex items-center gap-4">
		<button class="navbar-btn" (click)="goToConnexion()">Se connecter</button>
		<button class="navbar-btn" (click)="goToSinscrire()">S'inscrire</button>
	  </div>
  
	</div>
  </header>
  