<section class="dark:text-gray-800 py-16">
	<div class="container mx-auto flex flex-col items-center px-6">
	  <div class="flex flex-col items-center text-center max-w-3xl">
  
		<h1 class="text-5xl font-bold mt-10 mb-10" style="color: #0e312e">
		  ☁︎ HealthCloud ☁︎
		</h1>
  
		<!-- TEXTE DE PRÉSENTATION -->
		<p class="text-gray-700 leading-relaxed text-base sm:text-lg">
		  Health Cloud est un mini carnet de santé en ligne que j’ai entièrement conçu et développé
		  dans le cadre de ma formation en développement web et web mobile. La plateforme facilite la
		  collaboration entre patients et médecins grâce à un espace partagé où les informations
		  médicales peuvent être consultées, mises à jour et suivies en toute simplicité. Les patients
		  disposent d’un espace personnel pour gérer leurs données de santé, tandis que les médecins
		  peuvent accéder aux informations essentielles et enrichir le suivi médical. Construite avec
		  une architecture moderne combinant API back-end et interface front-end réactive, Health
		  Cloud garantit performance, sécurité et une expérience utilisateur totalement responsive.
		</p>
	  </div>
	</div>
  </section>
  