/* Container */
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
}

/* Formulaire */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    margin-bottom: 0.2em;
}

input,
select {
    padding: 12px;
    border: 2px solid #299A8F;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.2s ease;
}

input:focus,
select:focus {
    border-color: #24776F;
    box-shadow: 0 0 5px rgba(36, 119, 111, 0.4);
}

/* Bouton principal */
.submit-btn {
    padding: 12px;
    background-color: #299A8F;  
    border: 1px solid #24776F;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Hover */
.submit-btn:hover {
    background-color: #0e312e !important;
}

/* Messages */
.success {
    color: green;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
