ul {
    list-style-type: disc; 
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  li {
    margin-bottom: 12px;
    list-style-type: none;
  }
  h2{
    font-weight: 700;
  }