.error-message {
    animation: fadeIn 0.2s ease;
  }
  
  .success-message {
    animation: fadeIn 0.2s ease;
  }
  /* ANIMATION PDT L'AFFICHAGE DES MESSAGES (SUCCESS OU ERROR) */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to   { opacity: 1; transform: translateY(0); }
  }
  .btn-connexion {
    background-color: #4DB6AC;
    transition: 0.2s ease;
  }
  .btn-connexion:hover {
    background-color: #0e312e;
  }
  